@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    if (TempData.Peek("SuccessMessage") != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData.Peek("SuccessMessage")
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}

<div class="jumbotron">
    <h1 class="display-4">Vítejte!</h1>
    <p class="lead">Jsme rádi, že Vás naše nová hra zaujala.</p>
    <hr class="my-4">
    <p>Pokud chcete o ní být průběžně informování, můžete se přihlásit k odběru emailového občasníku.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" asp-page="Subscription" role="button">Přihlásit k odběru</a>
    </p>
</div>
<p>Přehled všech přihlášek <a asp-page="List">najdete v seznamu</a> (ale koukat do něj smějí jen správci).</p>
