@page
@model UserSubscription.Pages.SubscriptionModel
@{
    ViewData["Title"] = "Subscription";
}
@* TODO: display flash messages for success and failure*@
<h1>Přihlášení k odběru</h1>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Input.FirstName"></label>
        <input asp-for="Input.FirstName" class="form-control" />
        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.LastName"></label>
        <input asp-for="Input.LastName" class="form-control" />
        <span asp-validation-for="Input.LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        @* TODO: display select for gender*@
        @* this might come in handy: "Html.GetEnumSelectList<Models.Gender>()" *@
    </div>
    <div class="form-group">
        @* TODO: display select for countries*@
    </div>
    <div class="form-check">
        <input asp-for="Input.Agreed" class="form-check-input" />
        <label class="form-check-label" asp-for="Input.Agreed"></label>
        <span asp-validation-for="Input.Agreed" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Uložit</button> <a class="btn btn-light" asp-page="Index">Zpět</a>
    </div>
</form>
